@page "/createemployee"
@inject NavigationManager navigationManager
<h3>Create Employee</h3>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="custom-control-label">Name</label>
                <input id="Name" class="form-control" @bind="@employee.EmployeeName" />
            </div>
            <div class="form-group">
                <label for="Department" class="custom-control-label">Department</label>
                <input id="Department" class="form-control" @bind="@employee.Department" />
            </div>
            <div class="form-group">
                <label for="Salary" class="custom-control-label">Salary</label>
                <input id="Salary" class="form-control" @bind="@employee.Salary" />
            </div>
            <div class="form-group">
                <label for="DOB" class="custom-control-label">Date Of Birth</label>
                <input id="DOB" class="form-control" @bind="@employee.DOB" />
            </div>
            <div class="form-group">
                <label for="DOB" class="custom-control-label">City</label>
                <select class="form-control" @bind="@employee.City">
                    <option value="">--Select City</option>
                    <option value="Chennai">Chennai</option>
                    <option value="Madurai">Madurai</option>
                    <option value="Coimbatore">Coimbatore</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateNewEmployee" value="Save" />
                <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    readonly EmployeeInformation employee = new EmployeeInformation();

    void CreateNewEmployee()
    {
        EmployeeCRUD.CreateEmployee(employee);
        navigationManager.NavigateTo("listemployees");
    }
    void Cancel()
    {
        navigationManager.NavigateTo("listemployees");
    }

}