@page "/editemployee/{EmployeeId}"
@inject NavigationManager navigationManager

<h3>Edit Employee</h3>
<hr />
@if (employee == null)
{
    <div class="alert alert-warning">
        <strong>Warning!</strong> No Employee record found to edit.
    </div>
}

else
{
    <form>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="Name" class="custom-control-label">Name</label>
                    <input id="Name" class="form-control" placeholder="Enter your Name" @bind="@employee.EmployeeName" />
                </div>
                <div class="form-group">
                    <label for="Department" class="custom-control-label">Department</label>
                    <input id="Department" class="form-control" placeholder="Enter your Department" @bind="@employee.Department" />
                </div>
                <div class="form-group">
                    <label for="Salary" class="custom-control-label">Salary</label>
                    <input id="Salary" class="form-control" placeholder="Enter your salary" @bind="@employee.Salary" />
                </div>
                <div class="form-group">
                    <label for="DOB" class="custom-control-label">Date Of Birth</label>
                    <input id="DOB" class="form-control" placeholder="Enter your DOB" @bind="@employee.DOB" />
                </div>
                <div class="form-group">
                    <label for="DOB" class="custom-control-label">City</label>
                    <select class="form-control" @bind="@employee.City">
                        <option value="">--Select City--</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Madurai">Madurai</option>
                        <option value="Coimbatore">Coimbatore</option>
                    </select>
                </div>
                <div class="custom-checkbox">
                    <label class="custom-control-label">Is Plan Selected</label>
                    <input type="checkbox" value="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <input type="button" class="btn btn-primary" @onclick="@UpdateEmployee" value="Save" />
                    <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
                </div>
            </div>
        </div>
    </form>
}

@code {
    [Parameter]
    public string EmployeeId { get; set; }

    EmployeeInformation employee = new EmployeeInformation();

    protected override void OnInitialized()
    {
        employee = EmployeeCRUD.FetchSingleEmployee(EmployeeId);
    }

    private void UpdateEmployee()
    {
        EmployeeCRUD.EditEmployee(EmployeeId, employee);
        navigationManager.NavigateTo("listemployees");
    }

    private void Cancel()
    {
        navigationManager.NavigateTo("listemployees");
    }


}
